<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />

    </head>
    <body>

      <header>
        <div class="container">
          <h1>#{Carlos_Espejo}</h1>
          <h2>Rubyist</h2>

          <section id="downloads">
            <a href="https://github.com/CarlosEspejo" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          </section>
        </div>
      </header>

      <div class="container">
        {{ content }}
      </div>

    </body>
</html>
